{% extends "header.html" %}

{% block main %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Detection Page</h1>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-6">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Image</h5>

            <!-- Slides only carousel -->
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              
                <div class="carousel-item active">
                  <img src="assets/img/slides-1.jpg" class="d-block w-100" alt="...">
                </div>
                
            </div><!-- End Slides only carousel-->

          </div>
        </div>

        
        
        
      </div>

      <div class="col-lg-6">
        <div class="card">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Results</h5>
            </div>
          </div>
        </div>
      </div>
  

    </div>
  </section>
              


</main><!-- End #main -->
{% endblock main %}

