{% extends "header.html" %}

{% block main %}

<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Patient List</h5>
         
            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th>Patient ID</th>
                  <th>Name</th>
                  <th>Image</th>
                  <th>Age</th>
                  <th>Status</th>
                  <th>View</th>
                </tr>
              </thead>
              <tbody>
                {% for patient in patient_list %}
              <tr>
               
                <td>{{patient.patient_id}}</td>
                <td>{{patient.name}}</td>
                <td>{{patient.image}}</td>
                <td>{{patient.age}}</td>
                <td>{{patient.status}}</td>

              <td>

                <button type="button" class="btn btn-outline-primary">
                  <a href="{% url "report" patient.patient_id %}" >View</a>
                </button>
   
              </td>
              </tr>
              {% endfor %}
            </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>

      </div>
    </div>
  </section>
</main><!-- End #main -->






{% endblock main %}


