{% extends "header.html" %}

{% block main %}
<main id="main" class="main">
    <section class="section profile">
        <div class="col-xl-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 2em; text-align: center;">MEDICAL REPORT</h5>

                    <!-- Display Report Data -->

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Doctor Name:</strong> {{ report.radiologist.first_name }} {{ report.radiologist.last_name }}
                            </li>
                            <li class="list-group-item">
                                <strong>Patient Name:</strong> {{ report.patient.name }}
                            </li>
                            <li class="list-group-item">
                                <strong>Patient ID:</strong> {{ report.patient.patient_id }}
                            </li>
                            <li class="list-group-item">
                                <strong>Patient Age:</strong> {{ report.patient.age }}
                            </li>
                            <li class="list-group-item">
                                <strong>Visited Date:</strong> {{ report.patient.date|date:"d.m.Y" }}
                            </li>
                            <li class="list-group-item">
                                <strong>Patient Status:</strong> {{ report.patient.status }}
                            </li>
                            <li class="list-group-item">
                                <strong>Probability:</strong> {{ report.probability }}
                            </li>
                            <li class="list-group-item">
                                <strong>Assessment:</strong> {{ report.comment }}
                            </li>
                        </ul>
                        
                  
                    <!-- End Display Report Data -->

                    <div class="text-center">
                        <button type="button" class="btn btn-primary">Download</button>
                        <button type="button" class="btn btn-secondary">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>
{% endblock main %}

